body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.navbar {
    list-style-type: none;
    background-color: #333;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    padding: 14px 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

.navbar li a:hover {
    background-color: #575757;
}

.navbar .active {
    background-color: #008CBA;
}
